.main-button {  
    display: inline-block; /* desbloqueia definição de altura tag A*/
    background-color: #A0522D ; 
    color:#fff;
    height: 60px; /**/
    line-height: 60px; /*centra linha na caixa unica linha*/
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 1px #000 ; 
    margin-right: 0; 
    transition:transform .2s;
}   

.main-button:hover {
    transform:scale(1.02); 
    background-color:#BAA495;
}
.main-button:hover {
    cursor: pointer; 
}
