.sessao__projetos{
    display:grid;
    padding-bottom: 100px;
    border-bottom: solid 10px #BAA495 ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 2fr ;
    background-color: #000;
    justify-items: center;
}

.sessao__projetos-itens{
    background-color: #BAA495;
    box-shadow: 5px 5px 1px #fff;   
}
.sessao__projetos-itens img{
    width: 280px;
    height: 280px;
}

.sessao__projetos h2{
    grid-column: span 3;
}