.skill_itens {
    max-width: 430px;
    height: 90px;
    margin-bottom: 40px;
}

.skill_itens img {
    width: 80px;
}

.skill_itens label {
    position:absolute ;
    font-style:"Roboto Mono" ;
    font-size: 25px;
    color: #fff;
}

.skill_itens .progress_bar{
    width: 320px;
    height: 20px;
}